Providers:

  - name: local # 填个你认得出的供应商名称 和 default中的供应商名对应
    api_base_url: http://127.0.0.1:8504
    api_key: 123
    models:
      - Qwen3-Embedding-0.6B

  - name: openrouter # 多个供应商 （如果有的话）（如果没有删掉就好）
    api_base_url: https://openrouter.ai/api # 填api地址 /v1和后面舍去
    api_key: sk-or-v1-xxx # 填key
    models:
      - baai/bge-m3 # 填模型名 可以多个 （如果有的话）
      - google/gemini-embedding-001
      - qwen/qwen3-embedding-8b



Router: # 默认使用的模型
  default: local,Qwen3-Embedding-0.6B
